/*GERAL*/
    
body{font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; margin: 0;font-size: 16px;}
.flex-container{display:flex;}
.space-between{justify-content: space-between;}
.align-items{align-items: center;}
*{box-sizing:border-box;}
h1, h2, h3, h4, figure,p{margin:0;}
a{text-decoration: none; color: inherit;}
article img{width: 100%;}

.container{width:80%; max-width:1200px;margin:0 auto;}

/*MENU*/
.menu{
    position: fixed;
    background-color: rgba(217, 85, 168);
    animation: fundo 10s infinite;
    width:100%;
    padding: 30px;
    text-align: center;
    z-index:1;
    top:0;
}

.menu a{
    color:black;
    margin: 0 15p;
    padding-right: 30px;
    text-transform: uppercase;
    align-items:center;
    font-weight: 600;
}

@keyframes fundo{
    0%{background-color:rgba(153, 32, 108);}
    20%{background-color:rgba(217, 85, 168);}
    40%{background-color:rgba(227, 129, 191);}
    60%{background-color:rgba(245, 179, 221);}
    80%{background-color:rgba(153, 32, 108);}
}

/*HERO*/

.hero{
    background-image: url('../images/img\ um.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    margin-top: 20px;
    padding: 220px;
    text-align:right;
    color: #000000;
    text-shadow: 10px 10px 15px #FFFF;
}

h1{
    font-size: 50px;
    margin-bottom: 45px;
}

h2{
    font-size: 30px;
    justify-content: right;
    margin-bottom: 5px;
    padding-left: 500px;
}

/*CARDS*/

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 150px;
    padding-bottom: 100px;
}

.card {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.one{background-color: rgba(153, 32, 108);}
.two {background-color: rgba(217, 85, 168);}
.three {background-color: rgba(227, 129, 191);}
.four {background-color: rgba(245, 179, 221);}

h3{
    font-size: 18px;
    padding: 20px;
    margin-left:15px ;
}

.clinicas {
    text-align: center;
    margin: 40px 0;
    padding-bottom: 110px;
}

.clinicas button {
    background:rgba(217, 85, 168);
    color: #000;
    border: none;
    width: 30%;
    font-size: 25px;
    padding: 15px 25px;
    font-weight: bold;
    border-radius: 20px;
}

/*MENOPAUSA*/

.menopausa {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgba(227, 129, 191);
    padding: 60px;
}

.menopausa img {
    width: 400px;
}

h4{
    font-size: 35px;
    padding-left: 40px;
    padding-bottom: 20px;
}

p{
    font-size: 22px;
    justify-content:center;
    padding: 40px;
    padding-right: 80px;
}

/*TESTEMUNHOS*/

.baner h1{
    font-size: 30px;
    text-align: center;
    padding-top: 100px;

}

.box-tip{
    padding: 50px;
    position: relative;
    justify-content: space-between;
    margin: 30px auto;
    gap: 40px;
}
.tip{
    width: 49%;
    background-color: rgba(245, 179, 221);
    border: 3px solid rgba(153, 32, 108);
    text-align: center;
    margin-bottom: 30px;
    padding: 30px;
    position: relative;
    transition: 0.3s;
}
.tip:hover{
    background-color:rgba(45, 105, 166, 0);
}

.tip img{
    width: 120px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 15px;
}



.tip h3{
    font-size: 18px;
    color:  rgba(153, 32, 108);
    padding-left: 50px;
}


.tip h4{
    font-size: 14px;
    color:  rgba(245, 179, 221);
    padding-top: 40px;
    padding-right: 30px;
    align-items: center;
}

/*FEATURES*/

.features {
    background-color: rgba(153, 32, 108);
    text-align: center;
    padding: 80px 30px;
}

.features h2 {
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
    margin-top: 5px;
}
.features h4{
    text-align: center;
    padding: 10px;
}

.features li{
    text-align:left;
    font-size: 15px;

}

.feature button{
    background:rgba(217, 85, 168);
    color: #000;
    border: none;
    width: 40%;
    font-size: 10px;
    margin-top: 20px;
    padding: 15px 18px;
    font-weight: bold;
    border-radius: 5px;
}
.feature button:hover{
    background-color:rgba(245, 179, 221) ;
    transition: 0.5s;
}

.features-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  max-width: 1500px;
}

.feature {
  background:rgba(252, 220, 241);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.05);
}

/*FOOTER*/


footer{
    text-align: center;
    margin-bottom: 60px;
    padding: 20px;
}

/*Definição de media queries*/


@media all and (max-width:768px){
    
/*MENU*/
.menu{
    position: fixed;
    background-color: rgba(217, 85, 168);
    animation: fundo 10s infinite;
    width:100%;
    text-align: center;
    z-index:1;
    top:0;
}

.menu a{
    font-size: 10px;
    color:black;
    text-transform: uppercase;
    text-align: center;
    align-items:center;
    font-weight: 600;

}

@keyframes fundo{
    0%{background-color:rgba(153, 32, 108);}
    20%{background-color:rgba(217, 85, 168);}
    40%{background-color:rgba(227, 129, 191);}
    60%{background-color:rgba(245, 179, 221);}
    80%{background-color:rgba(153, 32, 108);}
}

/*HERO*/

.hero{
    background-image: url('../images/img\ um.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment:fixed;
    width: 108%;
    margin-top: 20px;
    padding: 150px;
    text-align:right;
    color: #000000;
    text-shadow: 10px 10px 15px #FFFF;
}

h1{
    font-size: 40px;
    margin-bottom: 30px;
    margin-left: 0px;
    text-align: right;
}

h2{
    font-size: 30px;
    justify-content:center;
    margin-bottom: 5px;
    padding-left: 90px;
}

/*CARDS*/

.cards {
    display: flex;
    justify-content:center;
    gap: 20px;
    padding: 100px;
    padding-bottom: 20px;
    margin-left: 30px;
    width: 100%;
}

.card {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    color: white;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.one{background-color: rgba(153, 32, 108);}
.two {background-color: rgba(217, 85, 168);}
.three {background-color: rgba(227, 129, 191);}
.four {background-color: rgba(245, 179, 221);}

h3{
    font-size: 12px;
    padding: 40px;
    margin-left:15px;
    padding-left: 20px;
}

.clinicas {
    text-align: center;
    margin: 40px 0;
    padding-bottom: 40px;
    padding-left: 150px;
}

.clinicas button {
    background:rgba(217, 85, 168);
    color: #000;
    border: none;
    width: 30%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px; 
    margin-right: 60px; 
}

/*MENOPAUSA*/

.menopausa {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgba(227, 129, 191);
    padding: 30px;
    padding-bottom: 10px;
    width: 108%;
}

.menopausa img {
    margin-right: 20px;
    display: inline-block;
    margin-bottom: 10px;
}

h4{
    font-size: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
}

p{
    font-size: 14px;
    justify-content:left;
    padding: 20px;
    padding-right: 20px;
}

/*TESTEMUNHOS*/

.baner h1{
    font-size: 25px;
    text-align: center;
    margin-left: 100px;
}

.box-tip{
    padding: 30px;
    position: relative;
    gap: 40px;
    width: 60%;
    margin-left: 40px;
}
.tip{
    width: 50%;
    background-color: rgba(245, 179, 221);
    border: 3px solid rgba(153, 32, 108);
    text-align: center;
    margin-bottom: 30px;
    padding: 30px;
    position: relative;
    transition: 0.3s;
}
.tip:hover{
    background-color:rgba(45, 105, 166, 0);
}

.tip img{
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 15px;
}

.tip h3{
    font-size: 18px;
    color:  rgba(153, 32, 108);
    padding-left: 50px;
    text-align: center;
}

.tip h4{
    font-size: 14px;
    color:  rgba(245, 179, 221);
    padding-top: 20px;
    padding-right: 30px;
    align-items: center;
}

/*FEATURES*/

.features {
    background-color: rgba(153, 32, 108);
    text-align: center;
    padding: 80px 50px;
    width: 108%;
}

.features h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 5px;
}
.features h4{
    text-align: center;
    padding: 10px;
}

.features li{
    text-align:left;
    font-size: 15px;

}

.feature button{
    background:rgba(217, 85, 168);
    color: #000;
    border: none;
    width: 40%;
    font-size: 10px;
    margin-top: 20px;
    padding: 15px 18px;
    font-weight: bold;
    border-radius: 5px;
}
.feature button:hover{
    background-color:rgba(245, 179, 221) ;
    transition: 0.5s;
}

.features-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  max-width: 1500px;
  font-size: 20px;
}

.feature {
  background:rgba(252, 220, 241);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.05);
}


/*FOOTER*/


footer{
    text-align: center;
    margin-left: 120px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
}
}

@media all and (max-width:480px){

/*MENU*/
.menu{
    position: fixed;
    background-color: rgba(217, 85, 168);
    animation: fundo 10s infinite;
    width:90%;
    text-align: center;
    z-index:1;
    top:0;
}

.menu a{
    font-size: 40%;
    color:black;
    text-transform: uppercase;
    text-align: center;
    align-items:center;
    font-weight: 800;
    margin-top: 80px;
}

@keyframes fundo{
    0%{background-color:rgba(153, 32, 108);}
    20%{background-color:rgba(217, 85, 168);}
    40%{background-color:rgba(227, 129, 191);}
    60%{background-color:rgba(245, 179, 221);}
    80%{background-color:rgba(153, 32, 108);}
}

/*HERO*/

.hero{
    background-image: url('../images/img\ um.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment:fixed;
    width: 120%;
    margin-top: 20px;
    padding: 160px;
    text-align:right;
    color: #000000;
    text-shadow: 10px 10px 15px #FFFF;
}

h1{
    font-size: 130%;
    margin-bottom: 30px;
    margin-left: 0px;
    text-align: right;
}

h2{
    font-size: 120%;
    margin-bottom: 5px;
    padding-left: 40px;
}

/*CARDS*/

.cards {
    position: relative;
    justify-content: space-between;
    display: flex;
    gap: px;
    margin: 10px;
    padding: 5%;
    padding-bottom: 20px;
    width: 100%;
}

.card {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    color: white;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.one{background-color: rgba(153, 32, 108);}
.two {background-color: rgba(217, 85, 168);}
.three {background-color: rgba(227, 129, 191);}
.four {background-color: rgba(245, 179, 221);}

h3{
    font-size: 10px;
    padding: 20px;
    margin-left:10px;
    padding-left: 10px;
}

.clinicas {
    text-align: center;
    margin: 40px 0;
    padding-bottom: 40px;
    padding-left: 150px;
}

.clinicas button {
    background:rgba(217, 85, 168);
    color: #000;
    border: none;
    width: 50%;
    font-size: 15px;
    padding: 10px 25px;
    font-weight: bold;
    border-radius: 20px;
    align-items: center;
}

/*MENOPAUSA*/

.menopausa {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgba(227, 129, 191);
    padding: 20px;
    padding-bottom: 10px;
    width: 120%;
}

.menopausa img {
    margin-right: 30px;
    display:left;
    width: 120%;
}


h4{
    font-size: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
}

p{
    font-size: 10px;
    justify-content:left;
    padding: 20px;
    padding-right: 80px;
}

/*TESTEMUNHOS*/

.baner h1{
    font-size: 25px;
    text-align: center;
    margin-left: 20px;
    margin-left: 120px;
}

.box-tip{
   width: 80%;
}

.tip{
    width: 50%;
    background-color: rgba(245, 179, 221);
    border: 3px solid rgba(153, 32, 108);
    text-align: center;
    margin-bottom: 30px;
    padding: 30px;
    position: relative;
    transition: 0.3s;
}
.tip:hover{
    background-color:rgba(45, 105, 166, 0);
}

.tip img{
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 15px;
}

.tip h3{
    font-size: 18px;
    color:  rgba(153, 32, 108);
    padding-left: 50px;
    text-align: center;
}

.tip h4{
    font-size: 14px;
    color:  rgba(245, 179, 221);
    padding-top: 20px;
    padding-right: 10px;
    align-items: center;
}

/*FEATURES*/

.features {
    background-color: rgba(153, 32, 108);
    text-align: center;
    padding: 80px 50px;
    width: 120%;
}

.features h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 5px;
}
.features h4{
    text-align: center;
    padding: 10px;
}

.features li{
    text-align:left;
    font-size: 15px;

}

.feature button{
    background:rgba(217, 85, 168);
    color: #000;
    border: none;
    width: 40%;
    font-size: 10px;
    margin-top: 20px;
    padding: 15px 18px;
    font-weight: bold;
    border-radius: 5px;
}
.feature button:hover{
    background-color:rgba(245, 179, 221) ;
    transition: 0.5s;
}

.features-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  max-width: 1500px;
  font-size: 20px;
}

.feature {
  background:rgba(252, 220, 241);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.05);
}


/*FOOTER*/


footer{
    text-align: center;
    margin-left: 120px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
}
}
